<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" (touchstart)="jump()">
  <div class="game-board">
    <img src="assets/clouds.png" class="clouds">
    <img src="assets/pipe.png" class="pipe">
    <img src="assets/mario.gif" class="mario">
  </div>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
